# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# production

# misc

/.env
/venv
/.venv
/.DS_Store
/.idea
# Ignore Python cache files
__pycache__/    
/docs/adaptive-ct-api-docs.html